@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
@*<link href='https://fonts.googleapis.com/css?family=Noto Serif' rel='stylesheet'>*@
    <head>
        <style>
        /*body {
            font-family: 'Noto Serif';
            font-size: 16px;
        }*/
	
		h1 {
			color: aliceblue;
			text-align: center;
		}
	
        .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

img {
  max-width: 100%;
  max-height: 100%;
}
</style>
    </head>
<body>
    <h1>Welcome To Pizzasso</h1>

    <div class="image-container">
        <img src="~/css/pizza1.png" height="400" width="400" />
    </div>
    
    <br />
    <div class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ImageSlider"> <h6> 🍕 PIZZA-IMAGE-SLIDER-DISPLAY</h6></a>
    </div>
   

</body>
</html>
@*<html>
    <head>
        <style>
            body{
                margin:0;
                padding:0;
                height:100vh;
                display:flex;
                justify-content:center;
                align-items:baseline;
            background:blue;

            }
            .slider{
                width:800px;
                height:500px;
                border-radius:10px;
                overflow:hidden;
            }
            .slides{
                width:500%;
                height:500px;
                display:flex;
            }

            .slides input{
                display:none;
            }


            .slide{
                width:20%;
            transition:2s;
            }

            .slide img{
                width:800px;
                height:500px;
            }

            /*css for manual slide navigation*/

            .navigation-manual{
                position:absolute;
                width:800px;
                margin-top:-40px;
                display:flex;
                justify-content:center;

            }

            .manual-btn{
            border: 2px solid green;
            padding:5px;
            border-radius:10px;
            cursor:pointer;
            transition:1s;
            }

            .manual-btn:not(:last-child){
                margin-right:40px;
            }

            .manual-btn:hover{
                background: green;
            }


            #radio1:checked ~ .first{

                margin-left:0;
            }

        #radio2:checked ~ .first {
            margin-left: -20%;
        }

        #radio3:checked ~ .first {
            margin-left: -40%;
        }

        #radio4:checked ~ .first {
            margin-left: -60%;
        }


        /*css for automatic navigation*/

        .navigation-auto{
            position:absolute;
            display:flex;
            width:800px;
            justify-content:center;
            margin-top:460px;
        }

        .navigation-auto div{
                border: 2px solid pink;
                padding:5px;
                border-radius:10px;
                transition:1s;
        }

        .navigation-auto div:not(:last-child){
            margin-right:40px;

        }

        #radio1:checked ~ .navigation-auto .auto-btn1{
            background: pink;
        }

        #radio2:checked ~ .navigation-auto .auto-btn2 {
            background: pink;
        }

        #radio3:checked ~ .navigation-auto .auto-btn3 {
            background: pink;
        }

        #radio4:checked ~ .navigation-auto .auto-btn4 {
            background: pink;
        }

        </style>




    </head>
    <body>

   <div>

        @*image slider start *@

        @*<div class="slider">
            <div class="slides">
                @*radio button start

            <input type="radio" name="radio-btn" id="radio1" />
            <input type="radio" name="radio-btn" id="radio2" />
            <input type="radio" name="radio-btn" id="radio3" />
            <input type="radio" name="radio-btn" id="radio4" />
                radio button end

                slide images start
                <div class="slide first">
                    <img src="~/css/pizzaA.jpg" />
                </div>
            <div class="slide">
                <img src="~/css/burger pizza veg.jpg" />
            </div>
            <div class="slide">
                <img src="~/css/pizzaA.jpg" />
                </div>
            <div class="slide">
                <img src="~/css/burger pizza veg.jpg" />
            </div>
            Slide images end

            auto navigation start
            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
            </div>
            auto navigation end

            manual navigation starts
            <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
            </div>

           manual navigation ends

         </div>
        </div>
    </div>

        image slider end

        <script type="text/javascript">
            var counter=1;
            setInterval( function(){
                document.getElementById('radio'+ counter).checked=true;
                counter++;
                if(counter>4){
                    counter=1;
                }
            },5000)
            
        </script>

    </body>
</html>
 *@