@{
    ViewData["Title"] = "Privacy Policy :";
}
<h3>@ViewData["Title"]</h3>

<br />


<p>By using this site, you agree to the terms of this Privacy Policy. Whenever you submit information via this site, you consent to the collection, use and disclosure of the information in accordance with this Privacy Policy.</p>

The Information which we collect and how do we use it?
In general, you can visit this Web site without telling us who you are or revealing any information about yourself. Our web servers collect the domain names, not the e-mail addresses, of visitors. Pizzasso may collect personal information from you including your NAME, address, and mobile number(s), email address and any other information, when you knowingly provide us with this information.</p>

<h6>
    How we use the information we collect
</h6>
<p>
    We use the information we collect from and about you for a variety of purposes, including to:
</p>
<p>
    Process and respond to your queries
</p>
<p>
    Understand our users (what they do on our Services, what features they like, how they use them, etc.), improve the content and features of our Services (such as by personalizing content to your interests), process and complete your transactions, and make special offers.
</p>
<p>
    Administer our Services and diagnose technical problems.
<p>
    Send you communications that you have requested or that may be of interest to you by way of emails, or courier, or registered post, or telephone calls, or any other mode of communication. We may also share your preferences or the Services availed by you with your network followers on Pizzasso for marketing and other promotional activities of our Services.
</p>
<p>Send you questions from other users that you may be able to answer if you have registered with Pizzasso.</p>
<p>
    Enable us to show you ads that are relevant to you.
</p>
<p>
    Generate and review reports and data about, and to conduct research on, our user base and Service usage patterns.
</p>
<p>
    Administer contests and sweepstakes.
</p>
<p>
    Provide you with customer support.
</p>
<p>Provide you with policies about your account.</p>
<p>
    Carry out our obligations and enforce our rights arising from any contracts entered into between you and us, including for billing and collection.
</p>
<p>
    Notify you about changes to our Services.
</p>
<p>
    Allow you to participate in interactive features offered through our Services.
</p>
<p>In any other way we may describe when you provide the information.</p>
<p>
    For any other purpose with your consent.
<p>
    We may also use your information to contact you about our own and third-party goods and services that may be of interest to you. If you do not want us to use your information in this way, please check the relevant box located on the form on which we collect your data and/or adjust your user preferences in your account profile. We may use the information we have collected from you to enable us to display advertisements to our advertisers'/service providers' target audiences. Even though we do not disclose your personal information for these purposes without your consent, if you click on or otherwise interact with an advertisement, the advertiser may assume that you meet its target criteria.
</p>

<h6>Information You Provide to Us</h6>
<p>
    The information we collect on or through our Services may include:
</p>


<h6>  * Your account information:</h6>
<p>Your full name, email address, postal code, password and other information you may provide with your account, such as your gender, mobile phone number and website. Your profile picture that will be publicly displayed as part of your account profile. You may optionally provide us with this information through third-party sign-in services such as Facebook and Google Plus. In such cases, we fetch and store whatever information is made available to us by you through these sign-in services.</p>
<h6>
    * Your preferences:
</h6>
<p> Your preferences and settings such as time zone and language.</p>

<h6>
    * Your searches and other activities:
</h6>

<p>
    The search terms you have looked up and results you selected.
</p>
<h6>* Your browsing information:</h6>
<p>
    How long you used our Services and which features you used; the ads you clicked on.
</p>
<h6>
    * Your transactional information:
</h6>
<p>If you make order through our Services, we may collect and store information about you to process your requests and automatically complete forms for future transactions, including (but not limited to) your phone number, address, email, billing information and credit or payment card information. This information may be shared with third- parties which assist in processing and fulfilling your requests, including payment gateway processors. When you submit credit or payment card information, we encrypt the information using industry standard technologies, as further described below under "Payment Card Information." If you write reviews about businesses with which you conduct transactions through our Services, we may publicly display information that you transacted with those businesses.</p>

<h6>
    How we share the information we collect
</h6>
<p>
    We may disclose personal information that we collect or you provide, as described in this privacy policy, in the following ways:

    <h6>Information Shared with Restaurants</h6>
<p>
    When you make a restaurant reservation or execute online food ordering transaction through our Services, your information is provided to us and to the restaurants with whom you choose to reserve. In order to facilitate your reservation and online food order processing, we provide your information to that restaurant in a similar manner as if you had made a reservation or food order directly with the restaurant. If you provide a mobile phone number, restaurants or Pizzasso may send you text messages regarding your reservation or order's delivery status. Some restaurants also require you to provide credit or debit card account information to secure your reservation. When you make a restaurant reservation or online food ordering transaction through our Services and/or make a payment to a restaurant through our Services, we may also share with the restaurants additional information, such as information about your dining preferences and history or information that we collect from third- parties.
</p>

<p>
    Information you choose to share with a restaurant when you make a order or pay a restaurant through our Services may be used by the restaurant for its own purposes. We do not control the privacy practices of restaurants. Please contact the restaurant directly if you want to learn about its privacy practices.
</p>

<h6>Payment Card Information</h6>
<p>To use certain of our Services, such as to make reservations at certain restaurants and to make payments to certain restaurants, we may require credit or debit card account information. By submitting your credit or debit card account information through our Services, you expressly consent to the sharing of your information with restaurants, third-party payment processors, and other third-party service providers (including but not limited to vendors who provide fraud detection services to us and other third parties), and you further agree to the following terms:</p>

<p>When you use a credit or debit card to secure a reservation through our Sites, we provide your credit or debit card account information (including card number and expiration date) to our third-party payment service providers and the applicable restaurant.</p>
<p>
    When you initially provide your credit or debit card account information through our Services in order to use our restaurant payment services, we provide your credit or debit card account information to our third-party payment service providers. As explained in our Terms of Use, these third parties may store your credit or debit card account information so you can use our restaurant payment services through our Services in the future.
</p>
<p>
    For information about the security of your credit or debit card account information, see the "Security" section below.
</p>
<h6>
    Analytics and tailored advertising
</h6>
<p>
    To help us better understand your use of the Services, we may use third-party web analytics on our Services, such as Google Analytics. These service providers use the sort of technology described in the "Automatically-Collected Information" Section above. The information collected by this technology will be disclosed to or collected directly by these service providers, who use the information to evaluate our users' use of the Services. We also use Google Analytics as described in the following section. To prevent Google Analytics from collecting or using your information, you may install the Google Analytics Opt-Out Browser add-on.
</p>

<h6>
    Security: How we protect your information
</h6>
<p>We have implemented appropriate physical, electronic, and managerial procedures to safeguard and help prevent unauthorized access to your information and to maintain data security. These safeguards take into account the sensitivity of the information that we collect, process and store and the current state of technology. We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it. The third party service providers with respect to payment gateway and payment processing are all validated as compliant with the payment card industry standard (generally referred to as PCI compliant service providers).</p>

<p>
    We assume no liability or responsibility for disclosure of your information due to errors in transmission, unauthorized third-party access, or other causes beyond our control. You play an important role in keeping your personal information secure. You should not share your user name, password, or other security information for your Pizzasso account with anyone. If we receive instructions using your user name and password, we will consider that you have authorized the instructions.
</p>

<h6>Job applicants</h6>
<p>If your information is submitted to us through our Service when applying for a position with our company, the information will be used to consider your application. We may retain your information for any period of time. This information may be shared with other companies for the purpose of evaluating your qualifications for the particular position or other available positions, as well as with third-party service providers retained by us to collect, maintain and analyse candidate submissions for job postings. For more details please refer Privacy Policy at our careers page.</p>

<h6>
    Changes to this privacy policy
</h6>
<p>We reserve the right to amend this Privacy Policy from time to time to reflect changes in the law, our data collection and use practices, the features of our services, or advances in technology. Please check this page periodically for changes. Use of information we collect is subject to the Privacy Policy in effect at the time such information is used. If we make any material changes to this Privacy Policy, we will post the changes here. Please review the changes carefully. Your continued use of the Services following the posting of changes to this Privacy Policy will constitute your consent and acceptance of those changes.</p>


